*{
   margin: 0;
   padding: 0;
}
body {
    height:100vh;
    background: linear-gradient(pink yellow);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: violet;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 20%;
}